<header>

  <nav class="nav-wrapper indigo">
    <div class="container">
      <a href="{% url 'home' %}" class="brand-logo">Weather</a>
      <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li><a href="{% url 'home' %}">Home</a></li>
        <li><a href="{%url 'about'%}">About</a></li>
        <li><a href="/search">search</a></li>
      </ul>



      <ul class="sidenav" id="mobile-demo">
        <li><a href="{% url 'home' %}">Home</a></li>
        <li><a href="{%url 'about'%}">About</a></li>
        <li><a href="/search">search</a></li>
      </ul>


    </div>
  </nav>
</header>